dom-module(id="main-app")
  link(rel="stylesheet" href="main-app.css")
  template
    paper-drawer-panel
      div(drawer id="menuContainer")
        menu-component
      div(main)
        paper-drawer-panel(right-drawer)
          div(drawer id="adds")
            |anuncios
          div(main)
          paper-header-panel(mode='waterfall-tall')
            paper-toolbar
              .title
              .title.bottom
                h1#name-title foo
            #foobar
              h2 This isn't being shown
  script(src="main-app.js")
          
