dom-module#group-component
  link(rel="stylesheet", href="group-component.css")
  template
    paper-card(elevation="1" image="{{group.image}}")
      div.card-header-image
        a(href$="{{group.url}}")
          paper-button(raised)
            |{{group.name}}
  script(src="group-component.js")
