:host
  width 100%
  paper-card
    border-radius 0 25px 0 0
    margin 0.5em 0
    width 100%
    .category
      position absolute
      top 0
      right 0
      height 50px
      width 50px
    iron-image.pic
      vertical-align middle
      border-radius 50%
      width 100px
      height 100px
    .cardText
      display inline-block
      vertical-align middle
      margin-left 1em
      max-width 75%
      .author
        color #4C96CA
    .card-actions
      color #AFBCC2
      padding 0
      text-align right
