:host
  paper-card
    margin 1em 0
    width 100%
    .card-content
      padding 0
    paper-input
      width 95%
      display block
      margin: 0 auto;
      --paper-input-container-focus-color #AFBCC2;
    #postButton
      background #4C96CA
      float right
      border-radius 0
      color white
