dom-module#post-component
  link(rel="stylesheet", href="post-component.css")
  template
    paper-card
      div.card-content
        paper-input(label="Comparte algo..." value="{{comment}}")
      div.card-actions
        paper-icon-button(src="icons/camera1.png")
        cat-buttons
        paper-button(hidden="{{hideSend}}" id="postButton") Publicar
  script(src="post-component.js")
