:host
  paper-card
    margin 0 0 1em
    width 100%
    .card-content
      padding-bottom 0
      .dot
        margin 0 5px 0 10px
        width 12px
      h3
        padding 0
        margin 0
        border-bottom 1px solid #AFBCC2
      .health
        color #89BA58
      .sport
        color #15ADE3
      .run
        color #E68613
      div
        margin 1em 0 0
    .card-actions
      border none
      padding 0
      text-align right
      color #E68613
      a, a:visited
        text-decoration none
        color inherit
