dom-module#aside-bar
  link(rel="stylesheet", href="aside-bar.css")
  template
    #adds
      .add
        | add
      .add
        | add
      h3 Eventos
      event-list
  script(src="aside-bar.js")
