dom-module#user-info
  link(rel='stylesheet', href='user-info.css')
  template
    img#settingsButton(src='icons/settings.png', alt='settings')
    figure.profilePicContainer
      iron-image.profilePic(src='{{info.picProfile}}', sizing='contain', preload='', fade='')
    h2.name {{info.name}}
    .personalData
      div
        h3 Peso
        p
          span {{peso}}
          span.units Kg
      div
        h3 Altura
        p
          span {{altura}}
          span.units M
      div
        h3 IMC
        p {{IMC}}
  script(src='user-info.js')
