:host
  bottom 4px
  position relative
  #counterContainer
    background-color #AFBCC2
    border-radius 0 0 3px 3px
    color white
    font-family "Hero Light"
    text-align center
    div
      font-size 1.1em
      margin .2em 0 0
      padding 0
    paper-slider
      --paper-slider-active-color #E68613
      --paper-slider-knob-color #E68613
      width 100%
