:host
  h3
    background #374449
    color white
    text-align center
    padding 1em
    margin 0
  .pro-list
    margin 1em 0
  .professional
    text-align center
    iron-image
      border-radius 50%
      display block
      height 140px
      margin 0 auto
      width 140px
