:host
  display block
  font-family "Hero"
  .sectionTitle
    text-align right
    margin 1em .5em .5em
    text-transform uppercase
  .group-list-footer
    background #454E56
    height 20px
    width 100%
