// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body, html {
  font-family: "Hero Light";
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #EEEFF0;
}

.mainHeader {
  background-color: #454E56;
  width:  100%;
  height : 48px;
}

a, a:visited {
  color: inherit;
  text-decoration: none;
}
#logo {
  img {
    display: block;
    margin: 0 auto;
    height: 100%;
  }
}

#drawer.paper-drawer-panel > [drawer] {
  overflow: scroll;
}

#r4lApp {
  width: 100%;
  height: 100%;
}

#adds {
  border-left: #AFBCC2 3px solid;
  height: 100%;

  .add {
    display: block;
    margin: 1em auto;
    background: white;
    height: 150px;
    width: 95%;
  }
}
