// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body, html {
  font-family: "Hero Light";
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #EEEFF0;
}

.mainHeader {
  background-color: #454E56;
  width:  100%;
  height : 48px;
}

a, a:visited {
  color: inherit;
  text-decoration: none;
}
#logo {
  img {
    display: block;
    margin: 0 auto;
    height: 100%;
  }
}

#drawer.paper-drawer-panel > [drawer] {
  overflow: scroll;
}

#r4lApp {
  width: 100%;
  height: 100%;
}

#adds {
  border-left: #AFBCC2 3px solid;
  height: 100%;

  .add {
    display: block;
    margin: 1em auto;
    background: white;
    height: 150px;
    width: 95%;
  }
}

.pure-g [class *="pure-u"] {
  font-family: "Hero Light";
}

#landing {
  height: 100%;
  article {
    &>div {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  .intro {
    background: image-url('other/landing.jpg');
    background-size: cover;
    color: white;
    padding-bottom: 1em;

    p {
      font-size: 1.6em;
      text-align: center;
      text-shadow: 1px 1px 1px #000;
    }
  }
  .info {
    border-top: 1px solid #AFBCC2;
    border-bottom: 1px solid #AFBCC2;
  }
  .reSubmit {
    background: image-url('other/landing3.jpg');
    background-size: cover;
  }
}

footer {
  text-align: center;
  iron-image {
    width: 48px;
    height: 48px;
    margin-top: 1em;
  }
  .socialMedia {
    background: image-url('forms/linePink.png');
    background-size: 100% 4px;
    background-repeat: no-repeat;

  }
  h2 {
    text-transform: uppercase;
  }
}

@media screen and (min-width: 48em) {
  #landing{
    article {
      padding-bottom: 0;
    }
    .intro {
      p{
        font-size: 2em;
      }
    }
  }
}
