dom-module#main-header
  link(rel="stylesheet" href="main-header.css")
  template
    paper-icon-button(icon="menu" paper-drawer-toggle)
    div(class="mainHeader")
      div.mainIcons
        paper-icon-button(src="icons/stadistics.png")
        paper-icon-button(src="icons/calendar.png")
        paper-icon-button(src="icons/chat.png")
        paper-icon-button(src="icons/notification.png")
  script(src="main-header.js")
